<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Survey Form</title>
</head>
<body>
    <form action="/result" method="post">
        <div id="name">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div id="location">
            <label for="location">Dojo Location:</label>
            <select name="dojo_location">
                <option value="Mountain View">Mountain View</option>
                <option value="Seatle, Wa">Seatle, Wa</option>
                <option value="Los Angeles">Los Angeles</option>\<option value="Canada">Canada</option>
            </select>
        </div>
        <div id="language">
            <label for="language">Favorite Language: </label>
            <select name="favorite_language">
                <option value="NodeJs">NodeJs</option>
                <option value="PHP">PHP</option>
                <option value="Express">Express</option>
                <option value="Javascript">Javascript</option>
            </select>
        </div>
        <div id="comment">
            <label for="comment">Comment (optional):</label><br>
            <textarea name="comment" rows="8" cols="0"></textarea>
        </div>
        <input type="submit" name="" value="Submit">
    </form>
</body>
</html>
