<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h3> Submitted Information </h3>
        Name: <%= results.name %> <br>
        Dojo Location:  <%= results.location %> <br>
        Favorite Language:  <%= results.language %> <br>
        Comment:  <%= results.comment %> <br>
        <a href="/"><button>Go Back</button></a>
    </form>
</body>
</html>
