<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>
<body>
    <h2>Submitted Information</h2>
    <ul>
        <li>Name: <%= user_data.name%></li>
        <li>Dojo location: <%= user_data.dojo_location%></li>
        <li>Favorite language: <%= user_data.favorite_language%></li>
        <li>Comment: <%= user_data.comment%></li>
    </ul>
</body>
</html>
